argcomplete==1.10.3
asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cobble==0.1.3
compressed-rtf==1.0.6
cymem==2.0.6
dj-database-url==0.5.0
Django==3.2.13
django-heroku==0.3.1
djangorestframework==3.13.1
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
gensim==4.1.2
gunicorn==20.1.0
idna==3.3
IMAPClient==2.1.0
importlib-metadata==4.11.3
Jinja2==3.1.1
joblib==1.1.0
langcodes==3.3.0
lxml==4.8.0
mammoth==1.4.19
MarkupSafe==2.1.1
murmurhash==1.0.6
nltk==3.7
numpy==1.21.6
olefile==0.46
packaging==21.3
pandas==1.1.5
pathy==0.6.1
pdfminer.six==20191110
pdfminer3==2018.12.3.0
Pillow==9.1.0
preshed==3.0.6
psycopg2==2.7.7
pycryptodome==3.14.1
pydantic==1.8.2
pyparsing==3.0.8
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.15
requests==2.27.1
scipy==1.7.3
six==1.12.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SpeechRecognition==3.8.1
sqlparse==0.4.2
srsly==2.4.3
textract==1.6.5
thinc==8.0.15
tqdm==4.64.0
typer==0.4.1
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
wasabi==0.9.1
whitenoise==6.0.0
xlrd==1.2.0
XlsxWriter==3.0.3
zipp==3.8.0
